@using WebHelloMVCEMpty.Models
@model Person
@{
	string koszones;
	int ora = DateTime.Now.Hour;
	if (ora <= 10)
	{
		koszones = "Jó reggelt";
	}
	else if (ora >= 17)
	{
		koszones = "Jó estét";
	}
	else
	{
		koszones = "Jó napot";
	}
}


<h3>@koszones @Model.Nev</h3>

